/* CSS HOME */
.searchbar-input {
    --background: gray;
    --border-radius: 10px;
    opacity: 0.7;
}

.searchbar-input:focus, .searchbar-input:hover {
    --background: black;
    --border-radius: 10px;
}